p {
    color: #6C7289
}

html {
    height: 100%
}

body {
    background-color: #F2EBE3;
    width: 1440px;
    height: 100%
}

img {
    height:100%;
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
}

.card-right {
    height: 100%;
    padding:10px;
}

.card {
    display: flex;
    width: 50%;
    vertical-align: center;
    position: relative;
    top: 15%;
    height: 70%;
    left: 25%;
    border-radius: 8px;
    background-color: #FFFFFF;
}

.attribution {
    font-size: 11px;
    text-align: center;
    bottom:5px;
    align-content: center;
    position:absolute;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}